
meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1')
meta(name='description' content='')
title Starter Template 
link(href='/globalAssets/stylize.css' rel='stylesheet')
