nav
	span.logo INTUITION.DEV 
	.right
		#topMenuBar.navBars
			span &nbsp; &nbsp;
	.right#topMenu
		a(href='/') Home
		a(href='/contact') Contact Us
		a(href='/about') About
	
nav#sideMenu.sideNav
	div 
		a(href='/') Home
	div
		a(href='/contact') Contact Us
	div
		a(href='/about') About
		
	script(src='/globalAssets/nav.js' async)
